<table class="table table-condensed table-stripped">
	<thead>
		<tr>
			<th data-bind="i18n: 'description'" />
			<th data-bind="i18n: 'state'" />
			<th data-bind="i18n: 'operations'" />
		</tr>
	</thead>
	<tbody data-bind="foreach: transactions">
		<tr data-bind="css: { success: activated }">
			<td data-bind="text: name" />
			<td data-bind="i18n: state" />
			<td>
				<button class="btn btn-success btn-mini" data-bind="i18n: 'commit', visible: !activated(), click: $parent.commit" />
				<button class="btn btn-danger btn-mini" data-bind="i18n: 'rollback', visible: !activated(), click: $parent.rollback" />
				<button class="btn btn-info btn-mini" data-bind="i18n: 'activate', visible: !activated(), click: $parent.activate" />
				<button class="btn btn-warning btn-mini" data-bind="i18n: 'deactivate', visible: activated, click: $parent.deactivate" />
			</td>
		</tr>
	</tbody>
</table>

<a class="btn btn-primary btn-mini pull-right" href="#create" role="button" data-toggle="modal" data-bind="i18n: 'create'"></a>

<!-- Modal -->

<div id="create" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: function() { description('') }">×</button>
		<h3 data-bind="i18n: 'create'"></h3>
	</div>
	<div class="modal-body">
		<input type="text" placeholder="Description" data-bind="value: description, valueUpdate: 'afterkeydown'" />
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-bind="i18n: 'create', enable: description().length > 0, click: create" data-dismiss="modal"></button>
	</div>
</div>
